@page "/Account/Profile/"
@using Microsoft.AspNetCore.Authentication

@model MedPark.Web.Pages.Account.ProfilePageModel
@{
    ViewData["Title"] = "ProfilePage";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="page-section" id="customer-profile">
    <div class="container">
        <div class="row m-4">
            <div class="col-lg-12 text-center">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="@Model.Avatar" alt="">
                    <h4>@Model.FirstName @Model.LastName</h4>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item col-sm-3 pl-0">
                        <a class="nav-link shadow" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item col-sm-3">
                        <a class="nav-link shadow" id="calendar-tab" data-toggle="pill" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendar</a>
                    </li>
                    <li class="nav-item col-sm-3">
                        <a class="nav-link shadow" id="orders-tab" data-toggle="pill" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Orders</a>
                    </li>
                    <li class="nav-item col-sm-3 pr-0">
                        <a class="nav-link shadow" id="contact-tab" data-toggle="pill" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content shadow" id="myTabContent">
                    <form id="customer-details-form">
                        <!-- DEAILS TAB -->
                        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="FirstName" name="FirstName" placeholder="First name" type="text" value="@Model.FirstName" data-bv-notempty="true" data-bv-notempty-message="First Name is required and cannot be empty">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="LastName" name="LastName" placeholder="Last name" type="text" value="@Model.LastName" data-bv-notempty="true" data-bv-notempty-message="Last Name is required and cannot be empty">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="Email" name="Email" placeholder="Email address" type="text" value="@Model.Email" data-bv-notempty="true" data-bv-notempty-message="Email is required and cannot be empty">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="Mobile" name="Mobile" placeholder="Mobile number" type="text" value="@Model.Mobile" data-bv-notempty="true" data-bv-notempty-message="Mobile number is required and cannot be empty">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="BirthDate" name="BirthDate" placeholder="Date of Birth" type="text" value="@Model.Birthday" data-bv-notempty="true" data-bv-notempty-message="Date of Birth is required and cannot be empty">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="Avatar" name="Avatar" placeholder="Avatar" type="text" value="@Model.Avatar">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="NewPassword" name="NewPassword" placeholder="Update Password" type="text" value="">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control form-control-md border shadow-sm " data-val="true" id="ConfirmNewPassword" name="ConfirmNewPassword" placeholder="Confirm Password Update" type="text" value="">
                                </div>
                            </div>

                            <div class="form-row d-flex justify-content-sm-end">
                                <a class="btn btn-primary text-uppercase" href="#" id="btnUpdateCustomer">Update</a>
                            </div>
                        </div>

                        <!-- Appointments Tab -->
                        <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
                            <table class="table table-bordered med-park-table" id="tblAppointments">
                                <thead>
                                    <tr>
                                        <td class="width: 50% @((DateTime.Today.DayOfWeek == DayOfWeek.Sunday || DateTime.Today.DayOfWeek == DayOfWeek.Monday) ? "" : "hide")">Monday</td>
                                        <td class="width: 50% @((DateTime.Today.DayOfWeek == DayOfWeek.Monday || DateTime.Today.DayOfWeek == DayOfWeek.Tuesday) ? "" : "hide")">Tuesday</td>
                                        <td class="width: 50% @((DateTime.Today.DayOfWeek == DayOfWeek.Tuesday || DateTime.Today.DayOfWeek == DayOfWeek.Wednesday) ? "" : "hide")">Wednesday</td>
                                        <td class="width: 50% @((DateTime.Today.DayOfWeek == DayOfWeek.Wednesday || DateTime.Today.DayOfWeek == DayOfWeek.Thursday) ? "" : "hide")">Thursday</td>
                                        <td class="width: 50% @((DateTime.Today.DayOfWeek == DayOfWeek.Thursday || DateTime.Today.DayOfWeek == DayOfWeek.Friday) ? "" : "hide")">Friday</td>
                                        <td class="width: 50% @((DateTime.Today.DayOfWeek == DayOfWeek.Friday || DateTime.Today.DayOfWeek == DayOfWeek.Saturday) ? "" : "hide")">Saturday</td>
                                        <td class="width: 50% @((DateTime.Today.DayOfWeek == DayOfWeek.Saturday || DateTime.Today.DayOfWeek == DayOfWeek.Sunday) ? "" : "hide")">Sunday</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <div class="text-center col-md-12">
                                <a class="btn btn-primary text-uppercase" href="#" id="btnAddAppointment" data-toggle="modal" data-target="#addAppointmentModal">Book Appointment</a>
                            </div>
                        </div>

                        <!-- Orders Tab -->
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">

                        </div>

                        <!-- Contatc Tab -->
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addAppointmentModal" tabindex="-1" role="dialog" aria-modal="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="routeModalTitle">Schedule Appointment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="ddlAppointmentType">
                                    <option value="">Select Speciality</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="ddlSpecialists">
                                    <option value="">Select Specialist</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row" id="addSchemeBooking" style="display:none;">
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="ddlPracticeSchemes">
                                    <option value="">Select Medical Aid Option</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <input disabled="disabled" class="form-control form-control-md border shadow-sm" id="medAidNo" name="MedAidNo" placeholder="Membership No." type="text" value="" data-bv-notempty="true" data-bv-notempty-message="DMedical aid membership number is required and cannot be empty">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <input class="form-control form-control-md border shadow-sm " data-val="true" id="appointmentDate" name="AppointmentDate" placeholder="Date of Appointment" type="text" value="" data-bv-notempty="true" data-bv-notempty-message="Date of Appointment is required and cannot be empty">
                            </div>
                            <div class="form-group col-sm-6" id="bookingTime" style="display:none;">
                                <select class="form-control" id="ddlAppointmentTime">
                                    <option value="">Select Appointment Time</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <textarea rows="5" class="form-control form-control-md border shadow-sm " id="additionalDetails" name="AdditionalDetails" placeholder="Additional details"></textarea>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-sm-end">
                            <a class="btn btn-primary text-uppercase" href="#" id="btnSubmitAppointment">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="appointmentDetail" tabindex="-1" role="dialog" aria-modal="true" data-backdrop="static">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="routeModalTitle">Appointment Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="team-member appointment-detail">
                                    <img class="mx-auto rounded-circle" src="~/img/placeholder-avatar.png" alt="">
                                    <div class="loader"></div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0">Appointment Type</label>
                                        <label class="d-block" id="lblAppType"></label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0">Medical Scheme</label>
                                        <label class="d-block" id="lblSchemeName"></label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0">Scheduled Date</label>
                                        <label class="d-block" id="lblAppDate"></label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0">Is Postponement?</label>
                                        <label class="d-block" id="lblIsPostponed"></label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label class="font-weight-bold mb-0">Notes</label>
                                        <textarea rows="3" class="form-control form-control-md border shadow-sm " id="txtAppComments" name="txtAppComments" placeholder="Additional details"></textarea>
                                    </div>
                                </div>

                                <h5 class="modal-title divider-hed mb-3">Specialist Detail</h5>

                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label class="font-weight-bold mb-0">Specialist Name</label>
                                        <label class="d-block" id="lblSpecilaistName"></label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0">Practice Name</label>
                                        <label class="d-block" id="lblPracticeName"></label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0">Contact Number</label>
                                        <label class="d-block" id="lblPracticeContactNo"></label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0">Specilaist Email</label>
                                        <label class="d-block" id="lblSpecialistEmail"></label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="font-weight-bold mb-0"></label>
                                        <label class="d-block" id="lbl"></label>
                                    </div>
                                </div>

                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@*<div class="mt-3">

    <div class="w-25 float-left user-details-container">

        <div class="avatar-container">
            <img class="img-avatar" src="@(!string.IsNullOrEmpty(Model.Avatar) ? Model.Avatar.ToLower() : "~/img/placeholder-avatar.png")" />
        </div>

        <div class="mt-4 user-details-container">

            <h4>Details:</h4>
            <div class="col-sm-6 float-left">
                <label class="font-weight-bold">First Name:</label>
                <br />
                
            </div>
            <div class="col-sm-6 float-left">
                <label class="font-weight-bold">Last Name:</label>
                <br />
                @(.Length > 0 ? Model.LastName : "Please Update")
            </div>
            <div class="col-sm-6 mt-4 float-left">
                <label class="font-weight-bold">Email:</label>
                <br />
                @Model.Email
            </div>
            <div class="col-sm-6 mt-4 float-left">
                <label class="font-weight-bold">Date of Birth:</label>
                <br />
                @(Model.Birthday.HasValue ? Model.Birthday.Value.ToShortDateString() : "")
            </div>

        </div>

        <br />

        <div class="clearfix mt-4 user-details-container">

            <h4>Addresses:</h4>

        </div>

    </div>

    <div class="w-75 float-left'">
        &nbsp;

    </div>

</div>*@

<script type="text/javascript">
    var userId = "@Html.Raw(User.Claims.Where(x => x.Type == "identityid").FirstOrDefault().Value)";
</script>

<script type="text/javascript" src="~/js/Patient/Profile.js"></script>

