@page
@using Microsoft.AspNetCore.Authentication;


@model MedPark.Identity.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<form asp-route-returnurl="@Model.LogoutId" method="post">
    <div class="logout-page">
        <div class="page-header">
        </div>

        <div style="background:white;">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="card w-50 register-card">
                    <div class="card-header register-card-hed">
                        <h4 class="card-title login-title bold-text">Logout - @Model.ClientName</h4>
                    </div>
                    <div class="card-body">
                        <p>Would you like to logout of @Model.ClientName?</p>

                        <div class="w-50">
                            <fieldset>
                                <div class="form-group">
                                    <button class="btn btn-primary">Yes</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card w-50 register-card">
                    <div class="card-header register-card-hed">
                        <h4 class="card-title login-title bold-text">Logout - @Model.ClientName</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">You have successfully been logged out of <b>@Model.ClientName</b>. Hope to see you again soon.</p>

                        <div class="w-50">
                            @if (Model.PostLogoutRedirectUri != null)
                            {
                                <div>
                                    Click <a href="@Model.PostLogoutRedirectUri">here</a> to return to the
                                    <span class="font-weight-bold">@Model.ClientName</span> application.
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</form>

